export MDB_CONN_STR=postgresql://message_store:@localhost:5432/message_store
export MDB_RO_CONN_STR=postgresql://message_store:@localhost:5432/message_store
export CP_CONN_STR=postgresql://postgres:@localhost:5432/postgres
export CP_SCHEMA=public
export OTEL_SERVICE_NAME=equinox-js-invoice

export STORE=message-db
# export LOCALSTACK_HOSTNAME=127.0.0.1

source_env_if_exists .envrc.private
