source_env_if_exists ../../.envrc
source_env_if_exists .envrc.private

export DBURL=postgresql://equinox_example:@127.0.0.1:5432/equinox_example
export DBURL_RO=postgresql://equinox_example:@127.0.0.1:5432/equinox_example
export DBURL_ADMIN=postgresql://postgres:@127.0.0.1:5432/equinox_example
