source_env_if_exists ../../.envrc
source_env_if_exists .envrc.private

export DBURL=postgresql://equinox_hotel:@127.0.0.1:5432/equinox_hotel
export DBURL_RO=postgresql://equinox_hotel:@127.0.0.1:5432/equinox_hotel
export DBURL_ADMIN=postgresql://postgres:@127.0.0.1:5432/equinox_hotel
